<ion-header>
  <ion-toolbar color="app-high">
    <ion-title>MEMORY GAME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-logo" [hidden]="!visible">
    <ion-card-header>
      <ion-card-title>Seleccione la dificultad:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <ion-button expand="block" color="app" (click)="selectEasy()">Facil</ion-button>
            <ion-button expand="block" color="app-low" (click)="selectMedium()">Normal</ion-button>
            <ion-button expand="block" color="app-oposite" (click)="selectHard()">Dificil</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid [hidden]="visible">
    <ion-row [hidden]="startGame">
      <ion-col size="6">
        <ion-button (click)="start()" expand="block"  shape="round" color="primary">
          Iniciar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="seeCards()" expand="block"  shape="round" color="secondary">
          Mostrar: {{timesSeeCards}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [hidden]="visible">
    <ion-row>
      <ion-col size="6">
        <ion-label>Intentos:</ion-label>
        <ion-input type="text" [(ngModel)]="intents"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-label>Aciertos</ion-label>
        <ion-input type="text" [(ngModel)]="hits"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let row of matriz" class="ion-align-items-center">
      <ion-col *ngFor="let item of row.cols" class="ion-align-self-center"><!-- {{row.row}}{{item.col}} -->
        <img src="{{item.img_oculta}}" alt="" (click)="showImage(row.row,item.col,item.index)">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [hidden]="visible">
    <ion-row>
      <ion-col align-self-center>
        <ion-button expand="block" color="app-high" (click)="selectLevel()">Seleccionar Nivel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>