<ion-header>
  <ion-toolbar color="app">
    <ion-title class="title"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-card class="card-logo">
    <ion-card-header>
      <ion-card-title>Memory Game</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/images/memory.gif" alt="">
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/game']" expand="block" color="app">Iniciar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>